body{
    text-align: right;
    direction: rtl;
}
html, body, div, p, span, ul, li, a{
    font-family: 'Droid Arabic Kufi' !important;
    font-weight: norma;
}
table.dataTable thead th.sorting::before, table.dataTable thead th.sorting_asc::before, table.dataTable thead th.sorting_desc::before, table.dataTable thead td.sorting::before, table.dataTable thead td.sorting_asc::before, table.dataTable thead td.sorting_desc::before{
    right:0px;
}
table.dataTable thead th.sorting::after, table.dataTable thead th.sorting_asc::after, table.dataTable thead th.sorting_desc::after, table.dataTable thead td.sorting::after, table.dataTable thead td.sorting_asc::after, table.dataTable thead td.sorting_desc::after{
    right:0px;
}


.billed-to{
    text-align: right;
}
label{
    text-align: right;
}
.header-notification .indicator {
    right: auto;
    left: 31px !important;
  }
  .float-block{
    float: left ;
}
.info-block{
    float: right ;
}
.card{
    text-align: right;
}
.txt-align{
    text-align: right;
}
.accordion-one .card-header a::before{
    left: 25px;
    right: auto;
}

.card-status h1{
    padding-right: 10px;
}
.card-status p {
    margin-right: 10px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    color: transparent;
}
.nav-item a{
    font-size: 15px !important;
}
.select2-results__option{
    text-align: right;
}